/* Using CSS resets from https://www.joshwcomeau.com/css/custom-css-reset/

/* 1. Use a more-intuitive box-sizing model */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* 2. Remove default margin */
* {
    margin: 0;
}

body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
}

/* 5. Improve media defaults */
img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

/* 6. Inherit fonts for form controls */
input,
button,
textarea,
select {
    font: inherit;
}

/* 7. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

/* 8. Improve line wrapping */
p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

/*
    9. Create a root stacking context
    */
#root,
#__next {
    isolation: isolate;
}

/* End of imported CSS resets*/

:root{
    --bright-text-color: #fae8ff;
    --bright-background-color: #faf5ff;
    --accent-color: #E6007E;
    --secondary-accent-color: #00B074;
    --main-content-bg-color: #e6e6e6;
}

body {
    height: 100vh;
    font-family: Roboto, "Times New Roman", sans-serif;
}

.container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 4fr;
    height: 100%;
}

.sidebar {
    color: var(--bright-text-color);
    padding: 16px;
    column-gap: 12px;
    justify-items: start;
    align-items: start;
    background-color: var(--accent-color);
    grid-row: 1 / 3;
    display: grid;
    row-gap: 60px;
    align-content: start;
}

.site-heading {
    display: grid;
    grid-template-columns: 50px 1fr;
    gap: 10px;
}

.sidebar .main-links,
.sidebar .secondary-links
{
    display: grid;
    grid-template-columns: 50px 1fr;
    column-gap: 10px;
    row-gap: 18px;
    justify-items: start;
    align-items: center;
}

.sidebar .main-links div:nth-child(odd),
.sidebar .secondary-links div:nth-child(odd)
{
    justify-self: center;
}

.sidebar .main-links img,
.sidebar .secondary-links img {
    height: 30px;
    width: 30px;
}

.sidebar .item {
    display: grid;
    align-items: center;
    justify-items: center;
    vertical-align: center;
}

.header {
    grid-column: 2 / 3;
    background-color: var(--bright-background-color);
    box-shadow: 2px 0px 4px rgba(0, 0, 0, 0.6);
    padding: 10px 25px 10px 25px;
    display: grid;
    grid-template-columns: 3fr 1fr;
    align-items: center;
    gap: 10px;
}

.header .search form p {
    display: grid;
    grid-template-columns: 25px 1fr;
    justify-content: start;
    align-items: center;
    gap: 10px;
}

.search-icon, .bell-icon {
    width: 20px;
    height: 20px;
}

button, input {
    cursor: pointer;
    background: none;
    border: none;
    margin: 0;
    padding: 0;
}

.button-group {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 40px;
    align-items: center;
    justify-items: center;
}

.button-group button {
    background-color: var(--accent-color);
    color: var(--bright-text-color);
    padding: 10px 30px 10px 30px;
    border-radius: 30px;
    text-align: center;
}

.profile-btn {
    height: 60px;
    width: 60px;
}

.greeting-image {
    height: 60px;
    width: 60px;
}

input[type=search]{
    background-color: var(--main-content-bg-color);
    border-radius: 12px;
    padding: 2px 8px 2px 8px;
}

.profile-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.greeting-banner {
    display: flex;
    gap: 12px;
    align-items: center;
}

.greeting-text {
    display: flex;
    flex-direction: column;
}

.generic-greeting {
    font-weight: bold;
    font-size: 1rem;
}

.name-greeting {
    font-weight: bold;
    font-size: 1.5rem;
}

.main-content {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    background-color: var(--main-content-bg-color);
    padding: 20px;
    display: grid;
    column-gap: 20px;
    row-gap: 15px;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 30px auto 30px auto;
}

.projects-card-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    grid-column: 1 / 2;
    grid-row: 2 / 5;
}

.my-project-card {
    display: flex;
    flex-direction: column;
    background-color: #faf5ff;
    gap: 60px;
    border-radius: 15px;
    border-left: 10px solid var(--secondary-accent-color);
    padding: 25px;
    justify-content: space-between;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.projects-card-container img {
    width: 25px;
    height: 25px;
}

.card-actions {
    display: flex;
    gap: 20px;
    align-self: end;
}

.announcements-container {
    padding: 25px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: #faf5ff;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
}

.announcements-container h4 {
    margin-bottom: 5px;
}

.trending-container {
    background-color: #faf5ff;
    padding: 25px;
    border-radius: 25px;
    box-shadow: 5px 5px 2px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: 40px 1fr;
    align-items: center;
    gap: 20px;
}

.trending-item-text {
    display: flex;
    flex-direction: column;
}

.project-name {
    color: #646464;
}

.trending-item-user img {
    width: 40px;
    height: 40px;
}